* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow: hidden;
}

.textPromt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  z-index: 2;
}
