/* Root styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

.choice-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: width 0.8s ease, height 0.8s ease;
}

/* Background images and origins */
#info-website {
  background-image: url('../assets/images/InfoSite.png');
  background-size: cover;
  background-position: center;
  transform-origin: left;
}

#game-website {
  background-image: url('../assets/topdown.jpg');
  background-size: cover;
  background-position: center;
  transform-origin: right;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.4s ease;
}

.option:hover .overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.content {
  position: relative;
  color: white;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Expanding class for smooth full-screen effect */
.expanding {
  transition: width 0.8s ease, height 0.8s ease;
  z-index: 10; /* Ensure it covers other elements */
}
